# Project exclude paths
/springcloud-api/target/
/springcloud-config-client-3355/target/
/springcloud-config-dept-8001/target/
/springcloud-config-dept-8002/target/
/springcloud-config-eureka-7001/target/
/springcloud-config-server-3344/target/
/springcloud-consumer-dept-80/target/
/springcloud-consumer-dept-feign/target/
/springcloud-consumer-hystrix-dashboard/target/
/springcloud-eureka-7001/target/
/springcloud-eureka-7002/target/
/springcloud-eureka-7003/target/
/springcloud-provider-dept-8001/target/
/springcloud-provider-dept-8002/target/
/springcloud-provider-dept-8003/target/
/springcloud-provider-dept-hystrix-8001/target/
/springcloud-zuul-9527/target/