<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="leib.demo.dao.UserMapper">
<!--    <insert id="addDept" parameterType="Dept" >-->
<!--        insert into dept (dname,db_source)-->
<!--        values (#{dname},DATABASE())-->
<!--    </insert>-->


<!--    <select id="queryByID" resultType="Dept" parameterType="Long">-->
<!--        select *  from  dept where deptno = #{deptno}-->
<!--    </select>-->

    <select id="queryAll" resultType="leib.demo.bean.User"  >
        select *  from  user
    </select>

    <select id="queryAll2" resultType="leib.demo.bean.User"  >
        select *  from  user
    </select>
</mapper>
